.url-list {
  display: block;

  li {
    margin-bottom: 1.2rem;
    list-style: none;
    border-bottom: 1px rgb(168, 168, 168) solid;

    .long-url {
      overflow: hidden;
      word-break: break-all;
      margin-bottom: 0.5rem;
    }
    .short-url {
      color: rgb(63, 63, 63);
      margin-bottom: 0.5rem;
    }
  }
}
